<div class="row container mx-auto">
  <div *ngIf="alert" class="alert alert-danger" role="alert">
    You Are Not Authorize! Only For Admins!
  </div>
  <div class="form-control d-flex justify-content-between py-1">

    <div class="d-flex justify-content-between ">
      <span class="btn me-2 d-flex justify-content-between align-items-center " style="background-color:#BDC3C7;"
        routerLink="/menu/add-stagiaire">
        <i class=" fa fa-plus fs-5">
        </i>
        <h4 class="m-auto ms-2"> New Stagiaire</h4>
      </span>
      <span class="btn d-flex justify-content-between align-items-center " data-bs-toggle="modal"
        data-bs-target="#exampleModal" style="background-color:#BDC3C7;">
        <i class=" fa fa-list-check fs-5">
        </i>
        <h4 class="m-auto ms-2"> L'Absence</h4>
      </span>
      <!--Modal d'absence -->

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Marquer L'absent</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <app-add-absent [Data]="stagiaires"></app-add-absent>
            </div>

          </div>
        </div>
      </div>
      <!--fin Modal d'absence -->
    </div>
    <form class="d-flex " style="height: 40px; " (ngSubmit)="search()">
      <input class="form-control small " name="searchTerm" [(ngModel)]="searchTerm" type="search"
        placeholder="Search by cin " aria-label="Search">
      <button class="btn" type="submit" style="background-color:#BDC3C7;"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th style="width: 20px;">Profile</th>
        <th class="px-4">CIN</th>
        <th>Name</th>
        <th>Etablissment</th>
        <th>Telephone</th>
        <th class="mb">Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="stagiaires">
      <tr *ngFor="let item of stagiaires">
        <td class="pointer" routerLink="/menu/view-stagiaire" [state]="{data: this.item}">
          <img src="https://mdbootstrap.com/img/new/avatars/{{item.id}}.jpg" alt="" style="width: 45px; height: 45px"
            class="rounded-circle" />
        </td>
        <td>
          <div class="d-flex align-items-center">
            <div class="ms-3">
              <p class="fw-bold mb-1">{{item.cin}}</p>
              <p class="text-muted mb-0"></p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1"></p>
          <p class="text-muted mb-0">{{item.nom}} </p>
        </td>
        <td>
          <span class="text-muted mb-0">{{item.etablissment}}</span>
        </td>
        <td> {{item.tel}}</td>
        <td>
          <button type="button" class="btn btn-link btn-sm btn-rounded">
            <i class="fa fa-pen  fs-6 " routerLink="/menu/edit-stagiaire" [state]="{data: this.item}"> </i> </button>
          <button type="button" (click)="Deletestagiaire(item.id)" class="btn btn-link  btn-sm btn-rounded">
            <i class="fa fa-trash text-danger fs-6 "></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>

